<html>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <body>
    <div id="app">
      <form
        enctype="multipart/form-data"
        name="fileUploadForm"
        v-on:submit.prevent="uplaodFile"
      >
        <div>upload the image you want to play:</div>
        <input type="file" name="file" />
        <input type="submit" />
      </form>
      <div id="cmd">
        <button @click="doOri">Original</button>
        <button @click="cmdselect">fit</button>
        <button @click="cmdselect">fill</button>
        <button @click="cmdselect">resize</button>
        <button @click="cmdselect">gamma</button>
        <button @click="cmdselect">contrast</button>
        <button @click="cmdselect">brightness</button>
        <button @click="cmdselect">grayscale</button>
        <button @click="cmdselect">invert</button>
        <button @click="cmdselect">blur</button>
        <button @click="cmdselect">sharpen</button>
        <button @click="cmdselect">rotate90</button>
        <button @click="cmdselect">rotate180</button>
        <button @click="cmdselect">rotate270</button>
        <button @click="cmdselect">flipH</button>
        <button @click="cmdselect">flipV</button>
        <button @click="cmdselect">mark</button>
      </div>
      <div id="cmd_sub">
        <div v-if="cmd=='fit'">
          <span>fit</span>
          <input type="text" placeholder="width" value="100" />
          <input type="text" placeholder="height" value="300" />
          <input type="text" placeholder="filter" value="box" />
          <input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='fill'">
          <span>fill</span>
          <input type="text" placeholder="width" value="100" />
          <input type="text" placeholder="height" value="300" />
          <input type="text" placeholder="filter" value="box" />
          <input type="text" placeholder="anchor" value="top" />
          <input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='resize'">
          <span>resize</span>
          <input type="text" placeholder="width" value="100" />
          <input type="text" placeholder="height" value="300" />
          <input type="text" placeholder="filter" value="box" />
          <input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='gamma'">
          <span>gamma</span>
          <input type="text" placeholder="stength" value="6" />
          <input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='contrast'">
          <span>contrast</span>
          <input type="text" placeholder="stength" value="200" />
          <input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='brightness'">
          <span>brightness</span>
          <input type="text" placeholder="stength" value="0.5" />
          <input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='grayscale'">
          <span>grayscale</span
          ><input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='invert'">
          <span>invert</span
          ><input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='blur'">
          <span>blur</span>
          <input type="text" placeholder="stength" value="3.5" />
          <input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='sharpen'">
          <span>sharpen</span>
          <input type="text" placeholder="stength" value="3.5" />
          <input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='rotate90'">
          <span>rotate90</span
          ><input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='rotate180'">
          <span>rotate180</span>
          <input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='rotate270'">
          <span>rotate270</span>
          <input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='flipH'">
          <span>flipH</span
          ><input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='flipV'">
          <span>flipV</span
          ><input type="button" value="submit" @click="docmd" />
        </div>
        <div v-if="cmd=='mark'">
          <span>mark</span>
          <input type="text" placeholder="id" value="a" />
          <input type="text" placeholder="offx" value="10" />
          <input type="text" placeholder="offy" value="10" />
          <input type="text" placeholder="offp" value="lu" />
          <input type="text" placeholder="alpha" value="255" />
          <input type="button" value="submit" @click="docmd" />
        </div>
      </div>
      <div id="imgurl" v-if="imgsrc!=''">{{imgsrc}}</div>
      <img v-if="imgsrc!=''" :src="imgsrc" />
    </div>
  </body>
  <style>
    div span {
      width: 90px;
      display: inline-flex;
    }
    div input[type="text"] {
      width: 70px;
    }
    #cmd button {
      display: inline-flex;
      margin-right: 20px;
      margin-top: 5px;
    }
    #cmd {
      margin-bottom: 30px;
    }
    #cmd_sub {
      margin-bottom: 20px;
    }
    #imgurl {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        message: "Hello Vue!",
        imgsrc: "http://fqimg.com/get/0657cae447e8c88f44c65b7e5f73cfe0",
        cmd: "",
      },
      methods: {
        uplaodFile: function () {
          var form = document.forms.namedItem("fileUploadForm");
          var formData = new FormData(form);
          this.$http
            .post("http://fqimg.com/put", formData)
            .then(function (data) {
              console.log(JSON.stringify(data));
              console.log(data.body);
              this.imgsrc = data.body[0];
            })
            .catch(function (err) {
              alert(err);
            });
        },
        cmdselect: function (dom) {
          console.log(dom.target.innerText);
          this.cmd = dom.target.innerText;
        },
        docmd: function (event) {
          list = event.target.parentElement.children;
          cmd = list[0].innerText;
          paras = [];
          for (i = 1; i < list.length - 1; i++) {
            paras = paras.concat([list[i].value]);
          }
          paras = paras.join("_");
          if (paras.length > 0) {
            cmd = cmd + "=" + paras;
          }
          ind = this.imgsrc.indexOf("?");
          if (ind > 0) {
            this.imgsrc = this.imgsrc.substring(0, ind);
          }
          if (this.imgsrc != "") {
            this.imgsrc = this.imgsrc + "?" + cmd;
          }
        },
        doOri: function (event) {
          ind = this.imgsrc.indexOf("?");
          if (ind > 0) {
            this.imgsrc = this.imgsrc.substring(0, ind);
          }
        },
      },
    });
  </script>
</html>
